<!doctype html>
<html>
<head>
  <title>Lottery</title>
  <link href="./styles/style.css" rel="stylesheet">
</head>
<body>
  <header><img src="./img/lotto-logo.png" alt="Lottery Logo"></header>
  {{{body}}}
</body>
</html>
