<h1>Pick 5</h1>
<p>Use less of the generated numbers for Pick 2-4.</p>
<button onClick="randNums(0, 9)">Generate Numbers</button>
<h3 id="one"></h3>
<h3 id="two"></h3>
<h3 id="three"></h3>
<h3 id="four"></h3>
<h3 id="five"></h3>
<script>
function randNums(min,max){
Math.floor(Math.random()*(max-min+1)+min);
    document.getElementById("one").innerHTML = Math.floor(Math.random()*(max-min+1)+min);
    document.getElementById("two").innerHTML = Math.floor(Math.random()*(max-min+1)+min);
    document.getElementById("three").innerHTML = Math.floor(Math.random()*(max-min+1)+min);
    document.getElementById("four").innerHTML = Math.floor(Math.random()*(max-min+1)+min);
    document.getElementById("five").innerHTML = Math.floor(Math.random()*(max-min+1)+min);
}
</script>
